/************************
	タブレット
 ************************/
@media screen and (max-width: 769px) {
#contents_are{
	width:100%;
}
#contents{
	width:95%;
	margin:0 auto;
}
/************************
	rap枠
 ************************/
#rap{
	width:100%;
	float:none;
}
}

/************************
	スマートフォン
 ************************/
@media screen and (max-width: 485px) {
}