/* ★全体cssの読み込みと記事のcssです */

@import url("main.css");
@import url("header.css");
@import url("side.css");
@import url("footer.css");

/* fancybox */
@import url("../../../common/script/fancybox/jquery.fancybox-1.3.4.css");





/*- ここから色の変更 -----------------------------------*/
/************************
	パンくず・関連ワード
 ************************/
#rap_top {
	/* パンくず・関連ワードの左の線の太さ 種類 色 */
	border-left:5px solid #CCE37F;
}
/* ここからスマートフォン対応 */
@media screen and (max-width: 485px) {
#toggle_rap_top{
	/* 関連ワードを閉じる の背景色 */
	background: #CCE37F;
}
#toggle_rap_top a{
	/* 関連ワードを閉じる の文字色 */
	color: #3E6600;
}
#toggle_rap_top a:before {
	/* 関連ワードを閉じる の矢印の色 */
	border: 1px solid #3E6600;
}
}

/************************
	記事スタイル
 ************************/
/* 見出し（中） */
#rap article.item h3:before {
	/* 見出し（中）の装飾の色 */
	background-color:#99C700;
	box-shadow: 0 0 0 2px #99C700;
	-webkit-box-shadow: 0 0 0 2px #99C700;
	-moz-box-shadow: 0 0 0 2px #99C700;
}
/* 見出し（小） */
#rap article.item h4:before,
#rap article.item h4 {
	/* 見出し（小）の文字色 */
	color:#99C700;
}

/******************
	記事スタイル　一覧ページ
********************/
/* 一覧ページコメント */
#rap .text_box1 {
	/* 線：グレー 背景：ライトグレー */
	border: 1px solid #ccc;
	background: #f7f7f7;
}
#rap text_box2 {
	/* 太線：グレー 背景：白 */
	border: 5px solid #ccc;
	background: #fff;
}
#rap .text_box3 {
	/* 線：グレー 背景：薄黄色 */
	border: 1px solid #ccc;
	background: #ffffcc;
}
#rap .text_box4 {
	/* 太線：グレー 背景：薄黄色 */
	border: 5px solid #ccc;
	background: #ffffcc;
}
/*- ここまで色の変更 -----------------------------------*/





/* /////////////////////////////////////////////////////////////////////////// 
	以下を変更するとテンプレートが崩れる恐れがありますので、ご注意ください
 /////////////////////////////////////////////////////////////////////////// */





/************************
	パンくず・関連ワード
 ************************/
#toggle_rap_top {
	display:none;
}
#rap_top {
	padding-left:10px;
	margin-bottom:30px;
	display:block;
}
/* パンくず */
#rap_top .pan {
	color:#777;
	font-size:12px;
	position:relative;
	padding-top:2px;
	padding-left:20px;
	margin-bottom:5px;
	overflow:hidden;
}
#rap_top .pan a {
	color:#777;
	margin-right:5px;
}
#rap_top .pan a:before {
	border-top: 1px solid #777;
	border-right: 1px solid #777;
	content:"";
	height:5px;
	width:5px;
	transform:rotate(45deg);
	-webkit-transform: rotate(45deg);
	display:inline-block;
	margin:0 5px 2px 0;
}
#rap_top .pan .home {
	position:absolute;
	top:0;
	left:0;
}
#rap_top .pan .home:before {
	display:none;
}
#rap_top .pan .home img {
	width:15px;
	color:#ccc;
}
#rap_top .pan .now {
	color:#333;
	font-weight:bold;
}
/* パンくず下のタグ */
#rap_top ul.tag {
	background:url(../../../common/img/tag.png) left top no-repeat;
	padding-left:30px;
	margin-top:10px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
#rap_top ul.tag {
	background:url(../../../common/img/tag@2x.png) left top no-repeat;
	background-size: 20px 14px;
}
}
#rap_top ul.tag li {
	font-size:11px;
	padding:2px 4px;
	margin-right:5px;
	margin-bottom:5px;
}
/* カテゴリ一覧 タイトル */
#rap h2.search_name {
	background:url(../../../common/img/search.png) left top no-repeat;
	min-height:26px;
	color:#666;
	font-size:20px;
	font-weight:bold;
	padding-bottom:10px;
	padding-left:30px;
	margin-bottom:20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
#rap h2.search_name {
	background:url(../../../common/img/search@2x.png) left top no-repeat;
	background-size: 26px 26px;
}
}

/* ここからスマートフォン対応 */
@media screen and (max-width: 485px) {
#toggle_rap_top{
  width: 100%;
  margin-bottom:10px;
  display: block;
  position: relative;
}
#toggle_rap_top a{
  display: block;
  position: relative;
  padding: 5px 0;
  font-size:13px;
  font-weight:bold;
  text-align: center;
  text-decoration: none;
  line-height:100%;
}
#toggle_rap_top a:before {
	border-bottom:none;
	border-left:none;
	content:"";
	height:6px;
	width:6px;
	transform:rotate(135deg);
	-webkit-transform: rotate(135deg);
	display:inline-block;
	position:absolute;
	top:5px;
	left:10px;
}
#toggle_rap_top.active a:before {
	transform:rotate(315deg);
	-webkit-transform: rotate(315deg);
	top:10px;
}
#toggle_rap_top .active{
	display:none;
}
#toggle_rap_top.active .passive{
	display:none;
}
#toggle_rap_top.active .active{
	display:inline;
}
#rap_top {
	background:#fff;
	border-bottom:1px solid #ccc;
	border-left:none;
	display:none;
	width:initial;
	padding:0 10px 10px;
	margin-bottom:10px;
}
/* パンくず下のタグ */
#rap_top ul.tag li {
	float:none;
}
}


/******************
	記事スタイル
********************/
#rap .item {
	margin-bottom:10px;
}
/* 記事タイトル */
#rap .item h1 {
	font-size:20px;
	font-weight:bold;
}
/* 日付 */
#rap .item .date {
	color:#999;
	font-size:12px;
	margin-bottom:20px;
}
#rap .item .date .record {
}
#rap .item .date .update {
	border-left:1px solid #999;
	padding-left:5px;
}
#rap .item div {
	line-height:150%;
}
/* 記事本文内の画像 */
#rap .item img {
	margin:10px;
	margin-left:0;
}
#rap .item .fancybox img {
	max-width:100%;
}
@media screen and (max-width: 769px) {
#rap .item .fancybox img {
	max-width:95%;
}
}

/* 見出し（大） */
#rap .item h2 {
	border-left:5px solid #666;
	color:#666;
	font-size:18px;
	font-weight:bold;
	padding-left:10px;
	margin-top:20px;
	margin-bottom:10px;
}
/* 見出し（中） */
#rap article.item h3:before {
	content:"";
	margin-right:8px;
	border: solid 2px #fff;
	width:9px;
	height:9px;
	display:inline-block;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
behavior: url(../../../common/script/js/PIE.htc);
}
#rap article.item h3 {
	color:#666;
	font-size:16px;
	font-weight:bold;
	margin-top:20px;
	margin-bottom:10px;
}
/* 見出し（小） */
#rap article.item h4:before {
	content:"-";
	font-size:16px;
	font-weight:bold;
	margin-right:10px;
}
#rap article.item h4 {
	font-size:14px;
	font-weight:bold;
	margin-top:20px;
	margin-bottom:10px;
}
/*リスト*/
#rap article.item ol {
	list-style:decimal outside none;
	margin-left:25px;
}
#rap article.item ul {
	list-style:disc outside none;
	margin-left:20px;
}

/*- 関連記事 -----------------------------------*/
#rap aside.item {
}
#rap aside.item .boxin {
	margin-bottom:10px;
	overflow:hidden;
}
#rap .item .related_item .box {
	padding:3px;
	margin-bottom:20px;
	margin-right:8px;
	display:inline-block;
	float:left;
}
#rap .item .related_item .box:hover {
	background:#eee;
}
#rap .item .related_item .box img {
	width:100%;
	margin:0;
}
#rap .item .related_item .box h3 {
	font-size:14px;
	font-weight:bold;
	padding-left:0;
	margin:0;
}
#rap .item .related_item .box h3 .date {
	color:#999;
	font-size:10px;
	font-weight:normal;
}
#rap .item .related_item .box p {
	color:#666;
	font-size:13px;
	margin-top:10px;
}

/* ５列表示 */
#rap .item .related_item .col5 {
	width:114px;
}
/* ４列表示 */
#rap .item .related_item .col4 {
	width:146px;
}
/* ３列表示 */
#rap .item .related_item .col3 {
	width:199px;
}
/* ２列表示 */
#rap .item .related_item .col2 {
	width:306px;
}
#rap .item .related_item .col2 img {
}
/* ２列表示 パターン２ */
#rap .item .related_item .col2_2 {
	width:306px;
	overflow:hidden;
}
#rap .item .related_item .col2_2 .photo {
	width:114px;
	float:left;
	margin-right:5px;
	display:block;
}
/* １列表示 */
#rap .item .related_item .col1 {
	width:100%;
	overflow:hidden;
	margin-bottom:10px;
}
#rap .item .related_item .col1 .photo {
	width:148px;
	float:left;
	margin-right:5px;
	display:block;
}

/* ここからスマートフォン対応 */
@media screen and (max-width: 485px) {
#rap .item .related_item .box {
	width:100%!important;
	overflow:hidden!important;
	margin-bottom:10px!important;
}
#rap .item .related_item .box .photo {
	width:100px!important;
	float:left!important;
	margin-right:5px!important;
	display:block!important;
}
}
/* ここまでスマートフォン対応 */



/******************
	記事スタイル　一覧ページ
********************/
/* 一覧ページコメント */
#rap .text_box1 {
	padding: 10px;
}
#rap .comment_top {
	margin-bottom:20px;
}
#rap .comment_btm {
	margin-top:30px;
}

#rap .item.list {
	border-bottom:3px solid #ddd;
	padding-top:30px;
	padding-bottom:30px;
	margin-bottom:0;
}
#rap .item.list .photo,
#rap .item.list .short_text {
	display:none;
}

/*- サムネイル表示のパターン -----------------------------------*/
#rap .item.list.off {
	overflow:hidden;
}
#rap .item.list.off:hover {
	background:#fafafa;
}
#rap .item.list.off img,
#rap .item.list.off h2,
#rap .item.list.off h3,
#rap .item.list.off div {
	display:none;
}
#rap .item.list.off .photo {
	width:160px;
	float:left;
	margin-right:5px;
	display:block;
}
#rap .item.list.off .photo img {
	width:100%;
	margin:0;
	display:block;
}
#rap .item.list.off h1 {
	font-size:16px;
	display:block;
}
#rap .item.list.off .short_text,
#rap .item.list.off .date {
	display:block;
}
#rap .item.list.off .tag {
	color:#999;
	font-size:12px;
	margin-top:10px;
	margin-left:0;
}
#rap .item.list.off .tag a {
	color:inherit;
}
#rap .item.list.off div.cate {
	background:url(../../../common/img/cate.png) left top no-repeat;
	color:#999;
	font-size:12px;
	display:block;
	padding-left:30px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
#rap .item.list.off .cate {
	background:url(../../../common/img/cate@2x.png) left top no-repeat;
	background-size: 21px 13px;
}
}
#rap .item.list.off .cate a {
	color:inherit;
}


/* ここからスマートフォン対応 */
@media screen and (max-width: 485px) {
#rap .item.list {
	overflow:hidden;
}
#rap .item.list:hover {
	background:#fafafa;
}
#rap .item.list img,
#rap .item.list h2,
#rap .item.list h3,
#rap .item.list div {
	display:none;
}
#rap .item.list .photo {
	width:80px!important;
	float:left;
	margin-right:5px;
	display:block;
}
#rap .item.list .photo img {
	width:100%;
	margin:0;
	display:block;
}
#rap .item.list h1 {
	font-size:14px!important;
	display:block;
}
#rap .item.list .short_text,
#rap .item.list .date {
	display:block;
}
#rap .item.list.off .tag {
	color:#999;
	font-size:12px;
	margin-top:10px;
}
#rap .item.list.off li {
	font-size:11px;
	padding:2px 4px;
	margin-right:5px;
	margin-bottom:5px;
}
#rap .item.list.off .tag a {
	color:inherit;
}
}
/* ここまでスマートフォン対応 */
